.DS_Store
/output
teibp/content/acs0000510.html
acs.xpr
acs.xpr
*.xpr
*.*~
data/acs0000002-02.html
data/acs0000001-01.pdf
data/acs0000001-01.html
*.zip
data/out/swinburne.rng
data/top100.html
/data/tmp.txt
